@font-face {
  font-family: "W95font";
  src: url("./fonts/w95font.woff2") format("woff2"),
    url("./fonts/w95font.woff2") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "W95font";
  src: url("./fonts/w95font-bold.woff2") format("woff2"),
    url("./fonts/w95font-bold.woff2") format("woff");
  font-weight: bold;
}

* {
  font-family: "W95font", Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #4c5844;
}
.navbar {
  background-color: black;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.logo {
  height: 30px;
  padding-left: 40px;
}

.content-wrapper {
  padding: 0 20px;
}

.main-container {
  background-color: #3e4637;
  margin: 20px auto;
  border-radius: 10px 10px 2px 2px;
  overflow: hidden;
  position: relative;
  max-width: 1000px;
}

.main-container .background-content {
  padding: 20px;
  color: #e6e6e6;
  font-size: 14px;
}

.content-box {
  background-color: #282e22;
  border-radius: 10px;
  position: relative;
  height: 140px;
  margin-bottom: 0;
  z-index: 10;
}

.top-section {
  display: flex;
  align-items: center;
  height: 70%;
  position: relative;
}

.box-image {
  height: 40px;
  width: auto;
  margin-left: 40px;
}

.box-text,
.box-text.link {
  padding: 0px;
  margin: 0px;
}

.box-text-container {
  color: #93a18e;
  text-align: center;
  flex-grow: 1;
  font-size: 16px;
}

.box-button {
  background-color: black;
  color: #a29f44;
  border: 2px solid #4c5844;
  padding: 5px 10px;
  margin-right: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.box-button:hover {
  opacity: 0.9;
  text-decoration: underline;
}

.divider {
  height: 4px;
  background-color: #4c5844;
  position: absolute;
  left: 0;
  right: 0;
  top: 70%;
  margin: 0;
}

.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  padding: 8px 0px;
  position: relative;
  top: 4px;
  z-index: 5;
  height: 40px;
}

.navlink {
  padding: 15px;
  color: white !important;
  font-size: 14px;
  margin: 0 10px;
}

.link {
  text-decoration: none;
  color: #b3cdc1;
}

.link:hover {
  text-decoration: underline;
}

.cv-container {
  margin-top: 15px;
  padding: 10px;
  background-color: #282e22;
  border-radius: 10px;
}

.cv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cv-item {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.cv-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 20px;
}

.cv-dot.pending {
  background-color: #a25b44;
}

.cv-dot.in-progress {
  background-color: #a29f44;
}

.cv-dot.complete {
  background-color: #44a255;
}

.cv-text {
  color: #93a18e;
  font-size: 16px;
}

.cv-line {
  width: 2px;
  background-color: #a29f44;
  height: 30px;
  margin: -15px 0;
}

.error-container, .maintenance-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.error-image, .maintenance-image {
  position: absolute;
  bottom: 0;
  right: 40px;
  height: 120px;
  width: auto;
}

.error-text, .maintenance-text {
  margin-top: 50px;
  margin-left: 20px;
}

@media (max-width: 700px) {
  .box-button {
    display: none;
  }
}

@media (max-width: 500px) {
  .box-text-container {
    display: none;
  }
}

h3 {
  margin-top: 0px;
  margin-bottom: 2px;
}

.white-box {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 400px;
}

.top-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-image {
  height: 200px;
  width: auto;
  margin: 30px;
}

.pixel-image {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

#beook-description-top, #beook-description-bottom, #carboncraft-description-top, #carboncraft-description-bottom {
  font-size: 35px;
  padding: 0px;
  margin: 0px;
  margin-left: 30px;
}

#beook-description-top, #beook-description-top-small, #carboncraft-description-top, #carboncraft-description-top-small {
  color: black;
}

#beook-description-bottom, #beook-description-bottom-small {
  color: #92C630;
}

#carboncraft-description-bottom, #carboncraft-description-bottom-small {
  color: #e88ce8;
}

.project-description-small {
  transform: rotate(-90deg);
  transform-origin: bottom left;
  position: fixed;
  bottom: 93px;
  left: 120px;
  font-size: 20px;
}

.right-boxes {
  display: flex;
  gap: 20px;
}

.small-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(to bottom, black, #282e22);
  border-radius: 10px;
  padding: 20px;
  padding-top: 5px;
  color: white;
  width: 200px;
  box-sizing: border-box;
  height: 100%;
  position: relative;
}

.small-box h2 {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.small-box hr {
  width: 100%;
  border: 1px solid #93a18e;
  margin: 10px 0;
}

.small-box h1 {
  color: white;
  font-size: 18px;
  margin: 10px 0;
  text-align: left;
}

.small-box p {
  color: #93a18e;
  font-size: 14px;
  margin: 5px 0;
  text-align: left;
}

.project-box-button {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
  text-align: center;
  width: calc(100% - 65px);
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.project-box-button:hover {
  opacity: 0.9;
}

.white-text {
  color: white;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 999999;
  background-color: rgba(0,0,0,0.3);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}