@font-face {
    font-family: 'W95font';
    src: url('./fonts/w95font.woff2') format('woff2'),
         url('./fonts/w95font.woff2') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'W95font';
    src: url('./fonts/w95font-bold.woff2') format('woff2'),
         url('./fonts/w95font-bold.woff2') format('woff');
    font-weight: bold;

}

* {
    font-family: "W95font", Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #4C5844;
}

.navbar {
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.logo {
    height: 30px;
    padding-left: 40px;
}

.main-container {
    background-color: #3E4637;
    margin: 20px;
    border-radius: 10px 10px 2px 2px;
    overflow: hidden;
    position: relative;
}

.main-container .background-content {
    padding: 20px;
    color: #e6e6e6;
    font-size: 14px;
}

.main-container .background-content img {
    display: block;
    margin: 10px auto;
    width: 100px;
}

.content-box {
    background-color: #282E22;
    border-radius: 10px;
    position: relative;
    height: 140px;
    margin-bottom: 0;
    z-index: 10;
}

.top-section {
    display: flex;
    align-items: center;
    height: 70%;
    position: relative;
}

.box-image {
    height: 40px;
    margin-left: 40px;
}

.box-text, .box-text.link{
    padding: 0px;
    margin: 0px;
}

.box-text.link{
    color: #B3CDC1;
}

.box-text-container {
    color: #93A18E;
    text-align: center;
    flex-grow: 1;
    font-size: 16px;
}

.box-button {
    background-color: black;
    color: #A29F44;
    border: 2px solid #4C5844;
    padding: 5px 10px;
    margin-right: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.box-button:hover {
    opacity: 0.9;
    text-decoration: underline;
}

.divider {
    height: 4px;
    background-color: #4C5844;
    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
    margin: 0;
}

.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    padding: 8px 0px;
    position: relative;
    top: 4px;
    z-index: 5;
    height: 40px;
}

.navlink {
    padding: 15px;
    color: white;
    font-size: 14px;
    margin: 0 10px;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
